.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
}

.inputs {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(96, 174, 161);
}

.inputs input {
  width: 200px;
  height: 50px;
  font-size: 18px;
  margin: 10px;
  padding: 10px;
}

.inputs button {
  border: none;
  width: 150px;
  height: 50px;
  background-color: rgb(6, 85, 26);
  color: white;
  border-radius: 10px;
  font-size: 15px;
}

.listOfFriends{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.friendContainer{
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.friend{
  width: 400px;
  height: 100px;

  background-color: aquamarine;
  color: black;
  /* display: flex; */
  font-family:'Courier New', Courier, monospace;

}

.friend h3{
  margin: 10px;
}
.friendContainer button {
  width: 60px;
  height: 60px;
  border: 2px solid black;
}

#removeBorder{
  border-left: none;
}

button:hover {
  cursor:pointer;
}