.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
}

.upper-side {
  height: 400px;
  width: 100%;
  background-color: rgb(96, 174, 161);
}

.header {
  font-weight: bolder;
  height:75px;
  display:flex;
  flex-direction: row;
}

#friendLogo {

  width: 350px;
  display: flex;
  flex-direction: row;

}

#friendLogo span{
  width: 250px;
  font-family:'Courier New', Courier, monospace;
  font-size: 30px;
  display: flex;
  align-items: center;
  margin-left: 5px;
}

#friendLogo img{
  width: 60px;
  height: 70px;
  border-radius: '10px';
  border: 2px solid black 
}

.header p{
  margin-left: 5px;
}



#sendEmail {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: flex-end;
  margin-right: 20px;
  margin-top: 5px;
}

#sendEmail img {
  width: 40px;
  height: 40px;
  border-radius: '10px';
  border: 2px solid black 
}

#sendEmail button {
 width: 60px;
 height: 42px;
}


.inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inputs input {
  width: 200px;
  height: 50px;
  font-size: 18px;
  margin: 10px;
  padding: 10px;
}

.inputs button {
  border: none;
  width: 150px;
  height: 50px;
  background-color: rgb(6, 85, 26);
  color: white;
  border-radius: 10px;
  font-size: 15px;
}


.listOfFriends{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.friendContainer{
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.friend{
  width: 400px;
  height: 100px;

  background-color: aquamarine;
  color: black;
  /* display: flex; */
  font-family:'Courier New', Courier, monospace;

}

.friend h3{
  margin: 10px;
}
.friendContainer button {
  width: 60px;
  height: 60px;
  border: 2px solid black;
}

#removeBorder{
  border-left: none;
}

button:hover {
  cursor:pointer;
}